* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('../img/Мандарини\ \(1920x1080\).jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: aliceblue;
}

main {
  background: rgba(255, 255, 255, 0);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  z-index: 1;
}

.form-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}

p {
  padding-bottom: 25px;
  font-style: oblique;
  font-weight: lighter;
}

.order-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
}

.label-caption {
  margin-bottom: 5px;
  font-weight: bold;
  flex: 1 1 15%;
}

.user-phone-inputs {
  display: flex;
  flex: 1 2 auto;
  width: 82%;
  justify-content: space-between;
}

.form-input-userPhone {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 100%;
}

.form-input,
.form-input-userName,
.form-input-userEmail,
.form-select,
textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  flex: 1 2 auto;
  width: 80%;
}

.form-input-userName {
  margin-right: 2%;
  width: 38%;
}

.form-input-userEmail,
.form-select,
.message {
  margin-right: 2%;
  width: 80%;
}

.form-input-userPhone {
  margin-right: 2%;
  width: 24.3%;
}

.req {
  color: red;
}

textarea {
  height: 100px;
  resize: none;
}

.submit-btn {
  background: none;
  font-weight: bold;
  color: inherit;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  font-size: 16px;
}

.submit-btn:hover {
  background: rgba(255, 255, 255, 0.5);
}

.valid {
  background-color: rgb(166, 250, 222);
}

.invalid {
  background-color: rgb(238, 143, 162);
}

@media (max-width: 555px) {
  .form-label {
    flex-direction: column;
  }

  .form-input,
  .form-input-userName,
  .form-input-userEmail,
  .form-select,
  .message,
  textarea {
    width: 100%;
    margin-right: 0;
  }

  .user-phone-inputs {
    width: 100%;
    justify-content: space-between;

  }

  .form-input-userPhone {
    width: 100%;
  }
}